<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="footer" xmlns:sec="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8">
    <title>1석3조:부유물 탐지 프로젝트</title>
  </head>
  <body>
    <footer th:fragment="footer" class="footer_section">
      <div class="footer_inner">
        <div class="footer_top footer_flex">
          <p>부유물 탐지 프로젝트</p>
          <p>1석3조 <span>김정현</span> · 이혜린 · 윤인영</p>
        </div>
        <p>ⓒMBC ACADEMY with 1석3조</p>
      </div>
    </footer>
  </body>
</html>